.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(210, 204, 204, 0.427);
  z-index: 10;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;
  width: 450px;
  box-shadow: 0px 5px 10px 5px silver;
  background: #83adbe;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.create-event-box {
  width: 400px;
  height: 400px;
  justify-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.create-event-box h1 {
  font-weight: 200;
}

.buttons{
  align-self: flex-end;
  color: black;
}

.create-event-modal-button {
  border: none;
  background-color: #83adbe;
  color: black;
}

#black-button{
  color: black;
}

.create-event-form {
  display: flex;
  justify-content: center;
  justify-items: right;
}

input [type='date'] {
  padding: 10px;
}

.create-event-form [type='text'] {
  background-color: rgba(252, 250, 250, 0.865);
  padding: 10px;
  width: 65%;
  border: none;
  font-size: small;
  color: #3a768f;

}

.form-date {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  margin: 5px;
}

.start-date, .end-date {
  width: 49%;
}

.start-date {
  margin-left: -18px;
}
