.events {
    display: block;
}

.events-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    line-height: 2.5;
    font-size: 20px;
    background-color: #33c430;
    padding: 0 20px 0 20px;
    font-weight: bolder;
    color: aliceblue;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: normal;
    font-size: smaller;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: aliceblue;
    color: #33c430;
}

.events-title {
    font-weight: initial;
    height: 35px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}

p {
    margin-left: 30px;
}

.button-line {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.event-create-button, .delete-button {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    color: aliceblue;
    width: 7rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #33c430;
    font-size: 14px;
}

.each-event {
    display: flex;
    width: 800px;
    height: 80px;
    flex-wrap: wrap;
    background-color: aliceblue;
    justify-content: space-between;
    justify-items: baseline;
    align-items: center;
    margin: 10px;
}

.event-list {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;

}

Link {
    color: pink;
    text-decoration: none;
}