.login-signup {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    height: -webkit-fill-available;
}

.home-link {
    color: white;
    display: flex;
    text-decoration: none;
    padding: 0 20px;
    margin: 80px;
    font-size: 35px;
    font-weight: bolder; 
}

.form-box {
    display: flex;
    position: absolute;
    width: 450px;
    height: 450px;
    padding: 15px;
    box-shadow: 0px 5px 10px 5px silver;
    border-radius: 8px;
    background: rgba(252, 250, 250, 0.865);
    margin-top: 180px;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-box form {
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-title {
    font-size: 30px;
    margin: 0px 15px 15px 15px;
}

.second-line {
    font-size: small;
}

.link-to{
    text-decoration: none;
    color: #0073d8;
}

.form-input {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: stretch
}

input[type='submit'] {
    height: 30px;
    width: 120px;
    display: block;
    text-align: center;
    background-color: #4babd5;
    border-radius: 10px;
    color: white;
    align-items: center;
    font-size: 13px;
}

.login-input {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

input[type='text'] , input[type='password']  {
    margin: -1px 24px 13px 2px;
    background-color: rgba(252, 250, 250, 0.865);
    border-top: none;
    border-right: none;
    border-left: none;
    line-height: 2rem;
}

.email {
    width: 15rem;
}

.password {
    width: 15rem;
}