.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    background-color: #848FC1;
    padding-left: 9%;
    padding-right: 10%;
}

.navbar a{
    text-decoration: none;
    justify-content: center;
    color: #F9F6F5;
    padding: 1vw;
    font-size: 1em;
}

.navbar a.hoverable:hover{
    border-radius: 9px;
    background-color: rgb(106, 115, 153);
}

#greeting-and-logout{
    display: flex;
    align-items: center;
}
.navbar #greeting{
    margin-right: 3vw;
    color: #F9F6F5;
}

.navbar #home-link{
    color: #F9F6F5;
    font-size: 2.8em;
    padding: none;
}